main .container {
    justify-content: space-around;
    flex-flow: column;
}

.hero {
    padding: 0px 0px 0px 50px;
    margin-top: 90px;
}
.hero h1 {
    color: #FF4081;
    font-size: 60px;
    line-height: 69px;
    font-weight: 700;
    width: 360px;
    margin: 0 0 38px 80px;
}

.hero p {
    font-size: 27px;
    line-height: 31px;
    font-weight: 400;
    width: 360px;
    margin: 0 0 38px 80px;
}


.lista-cursos .curso {
    margin: 0 0 0 100px;
            
}

.lista-cursos .curso img {
    max-height: 490px;
    margin-bottom: 45px;
    float: left;
    display: block;
    padding: 40px 70px 20px 70px;
    }

.lista-cursos .curso h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    color: #FF4081;
    padding: 0 480px 0 0px;
}
hr {
    margin: 70px 0 70px 0;
    padding: 1px;
}

.lista-cursos .curso p {
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    color: #000000;
    margin-bottom: 26px;
    padding: 20px 500px 20px 0px;
    }

.lista-cursos .curso a {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: white;
    background: #2E948A;
    border: none;
    border-radius: 62px;
    padding: 12px 52px;
    text-decoration: none;
    }